<section class="flex justify-center items-center dark:bg-gray-500 ">


    <form [formGroup]="changePassword" (ngSubmit)="ChangePassword()"
        class="w-[85%] max-w-80  py-5 p-2  md:w-[60%]  lg:w-[80%] lg:max-w-96 xl:max-w-lg ">

    
        <!-- password input -->
        <app-input [control]="changePassword.get('password')" [idInput]="'password'" [placeHolder]="'•••••••••'"
            [labelInput]="'currrent password'">

            assword must be at least 8 characters, include uppercase,
            lowercase, number, and special character.
        </app-input>


        <!-- changePassword input -->
        <app-input [control]="changePassword.get('newPassword')" [idInput]="'rePassword'" [placeHolder]="'•••••••••'"
            [labelInput]="'new password'">
        </app-input>


        <button type="submit"
            class="mt-4 cursor-pointer  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Change Password
        </button>


    </form>






</section>