:is([type=text], [type=email], [type=url], [type=password], [type=number], [type=date], [type=datetime-local], [type=month], [type=search], [type=tel], [type=time], [type=week], [multiple], textarea, select):focus {
   
    --tw-ring-color: none;

}


::ng-deep .p-inputtext {
    width: 100%;
}


::ng-deep .p-datepicker {
    width: 100%;

}

::ng-deep .p-datepicker:has(.p-datepicker-dropdown) .p-datepicker-input {
    background-color: #F9FAFB;

}
