@if(userData()){

<div class="grid grid-cols-12 m-3 gap-x-5 ">
    
    <div class="col-span-5  w-full sticky top-0 self-start pt-6">

        <div class="relative">
            <img [src]="url()||userData()?.user?.photo" class="rounded-full" alt="">
            <div class="absolute right-0 bottom-[10%] ">
                <div class="flex items-center justify-center ">
                    <label for="dropzonefile"
                        class="flex flex-col items-center justify-center   rounded-full p-1 cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 ">
                        <div class="flex flex-col items-center justify-center ">
                            <svg class="w-8 h-8  text-gray-500 dark:text-gray-400" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                            </svg>

                        </div>
                        <input (change)="changeImageProfile($event)" id="dropzonefile" type="file" class="hidden" />
                    </label>
                </div>
            </div>
        </div>


        <div class="mt-4 text-[1rem] text-blue-900 font-semibold flex-col">
            <p class="text-center text-2xl mb-2">{{userData()?.user?.name}}</p>
            <p> <i class="pi pi-envelope" style="font-size: 1rem"></i> {{userData()?.user?.email}}</p>
            <p> <i class="pi pi-calendar" style="font-size: 1rem"></i> {{userData()?.user?.dateOfBirth | date }}</p>
            <p> <i class="pi pi-calendar-plus" style="font-size: 1rem"></i> {{userData()?.user?.createdAt | date }}</p>
            <p> <i class="pi pi-user" style="font-size: 1rem"></i> {{userData()?.user?.gender}}</p>
        </div>

    </div>


    <div class="col-span-7  w-full  ">

       <app-create-post (newPost)="submetPOst($event)" [inProfile]="iamHere()"  ></app-create-post>

        @for (post of allUserPosts(); track post.id) {
        @defer (on viewport) {

        <app-s-post (deletePost)="submetDeletePOst($event)"  (newEditPostid)="submetEditPOst($event)"  [post]="post" [inProfile]="iamHere()"></app-s-post>

        }@placeholder {
        <app-skeleton-card  [inProfile]="iamHere()" ></app-skeleton-card>
        }
        @loading {<div> Loading... </div>}
        @error {<div>Failed to load product details.</div>}

        }

    </div>


</div>


}