::ng-deep .p-button {

    color: black !important;
     background: transparent !important; 
     border: 0 !important;

}


::ng-deep .p-button:not(:disabled):hover {

    color: black !important;
     background: transparent !important; 
     border: 0 !important;

}


::ng-deep .p-menu {
min-width: 0 !important;
left: -73px !important;
top: 22px !important;

}


::ng-deep .p-menu-submenu-label {
    display: none !important;
}



::-webkit-scrollbar {
  width: 0px;
}





// FOR DIALOG
.p-inputtext:enabled:focus {
border-color: #e7dddd;
}

.p-inputtext {
border-radius: 1.5rem;
}

::ng-deep .p-dialog-header {
    padding-bottom: 5px;
}

.p-textarea:enabled:focus {
     border-color: #e7dddd;
}

.p-textarea{
    background-color: #f9fafb;
}

::ng-deep .p-textarea::placeholder{
    font-size: 0.9rem;
}